<header id="header">
    <div class="logo">
        <span class="icon fa-comments"></span>
    </div>
    <div class="content">
        <% include content.ejs %>
    </div>
    <nav>
        <ul>
            <li><a href="#register">Register</a></li>
            <!-- <li><a href="#setI">Interval</a></li>
            <li><a href="#elements">Elements</a></li> -->
        </ul>
    </nav>
</header>