<article id="register">
    <h2>Sign Up</h2>
    <h3 class="major">Join to receive absurd facts</h3>
    <form action="/user" method="POST">
        <div class="fields">
            <div class="field">
                <label for="name">First Name</label>
                <input type="text" name="name" placeholder="Elon" />
            </div><div  class="field">
                <label for="pno">Phone Number</label>
                <input type="text" name="phno" placeholder="Please enter the phone number without spaces" />
            </div>
        </div>
        <ul class="actions" id="act">
                <li><input type="submit" value="Register" /></li>
        </ul>
    </form>
    
    
    </article>