<article id="setI">
    <h2 class="major">Set Message Interval</h2>
    <form action="/interval" method="POST">
        <div class="fields">
            <div  class="field">
                <label for="pno">Phone Number</label>
                <input type="text" name="phno" placeholder="Please enter Phone Number without spaces" />
            </div><div class="field">
                <label for="interval">Interval(in minutes)</label>
                <input type="text" name="interval" placeholder="1" />
            </div>
        </div>
        <ul class="actions" id="act">
            <li><input type="submit" value="Set" /></li>
        </ul>
    </form>
    </article>